<html
        xmlns:th="http://thmyelead.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<body layout:fragment="body" id="page-top">
        <div class="container text-center mt-5" style="padding-top: 100px; padding-bottom: 100px;">
                <h1>Admin login</h1>
                <a href="/login-as-admin" class="btn btn-primary">Log in as an admin</a>
                <a href="/sign-out" class="btn btn-primary">Sign out</a>
        </div>
</body>
</html>